# Afriani
# Data warehouse

### Python 1 : Who is in the third place?

### Task

Create a function whose name is ```third_place``` that does the following:

Given a list of test score and a list of participants name. The desired output would be the name of the participant who gets the 3rd best score. The rule of determining the order of the best score is as follows:
- Higher score is better
- In case of multiple participants having the same test score, they can occupy the same ranking value. For example, if 2 participants scored 100, then both of them occupy the first place.

The first input of the function is the name list, and the second input to the function is the score list.

### Example 1:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa]
- score = [80, 90, 95, 100, 85]

This means, Andi gets 80, Budi gets 90, Charlie gets 95, Dilan gets 100, and Echa gets 85. The first best score is 100, and Dilan gets it. The second best score is 95, and Charlie gets it. The third best score is 90, and Budi gets it. So, our output should be Budi.

**Output**: 'The third winner: Budi'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Budi'.

### Example 2:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa]
- score = [80, 80, 80, 100, 90]

This means, Andi, Budi, and Charlie gets 80, Dilan gets 100, and Echa gets 90. The third best score is 80, and our output should list ALL of the participants who get 80.

**Output**: 'The third winner: Andi, Budi, Charlie'.

When we run ```third_place(names, score)```, the output will be 'The third winner: Andi, Budi, Charlie'.

### Example 3:

**Input**:
- names = [Andi, Budi, Charlie, Dilan, Echa, Fanya]
- score = [80, 90, 90, 100, 100, 80]

The first best score (first winner) is 100 - Dilan and Echa shared this position. The second best score (second winner) is 90 - Budi and Charlie shared this position. The third best score (third winner) is 80, and it is shared by Andi and Fanya. So, our output should be Andi and Fanya.

**Output**: 'The third winner: Andi, Fanya'.

### Space for Work

# EXAMPLE 1

In [61]:
def third_place(names, scores):


  data = list(zip(names, scores))
  srt_data = sorted(data, key=lambda x: x[1], reverse=True)
  third_place_score = srt_data[2][1]

  # Menampilkan nama pesertaa yang memiliki skor di peringkat ketiga.
  third_place_name = [nama for nama, score in srt_data if score == third_place_score][0]
  return f"The third winner: {third_place_name}"

names = ["Andi", "Budi", "Charlie", "Dilan", "Echa"]
scores = [80, 90, 95, 100, 85]

third_place_winner = third_place(names, scores)
print(third_place_winner)

The third winner: Budi

# EXAMPLE 2

In [59]:
def third_place(names, scores):

  data = list(zip(names, scores))
  srt_data = sorted(data, key=lambda x: x[1], reverse=True)
  third_place_score = srt_data[2][1]

  # Menampilkan nama peserta yang memiliki skor peringkat ketiga.
  third_place_names = [name for name, score in srt_data if score == third_place_score]
  third_place_message = f"The third winner: {' '.join(third_place_names)}"
  return third_place_message

names = ["Andi", "Budi", "Charlie", "Dilan", "Echa"]
scores = [80, 80, 80, 100, 90]

third_place_winner = third_place(names, scores)
print(third_place_winner)

The third winner: Andi Budi Charlie

# EXAMPLE 3

In [60]:
def third_place(names, scores):

  data = list(zip(names, scores))
  srt_data = sorted(data, key=lambda x: x[1], reverse=True)
  scored_80_names = filtered_df['names'].tolist()


# membuat list nama beserta scorenya
names = ["Andi", "Budi", "Charlie", "Dilan", "Echa", "Fanya"]
score = [80, 90, 90, 100, 100, 80]

# Print output
print("The third winner:", ', '.join(scored_80_names))

The third winner: Andi, Fanya